body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
}

h2 {
    color: #333;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin: 20px;
    text-align: center;
    width: 80%; /* Makes form elements responsive */
}

label {
    margin-bottom: 5px;
    display: block;
    font-size: 1.1em;
    color: #555;
}

input[type="range"] {
    width: calc(100% - 40px); /* Adjust width to fit labels and values */
    margin: 0 20px;
}

.slider-value {
    display: inline-block;
    margin-left: 10px;
    font-size: 1em;
    color: #666;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d82;
}

#predictionResult {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    color: #333;
    text-align: center;
    width: 80%; /* Matches form width for consistency */
}

.wine-glass {
    margin: 20px auto;
    display: block; /* Ensures SVG is centered */
}

.wine-fill {
    transition: height 0.5s ease-out;
}

.invalid-input {
    outline: 2px solid #ff0000; /* Adjusts focus for range sliders */
    background-color: #ffcccc;
}